<div>
  <h1 id="detailName">Toy name</h1>
  <div>
    <div id="detailPicture"></div>
    <div>Brand</div>
    <div id="detailBrand">BrandName</div>
    <div>Gender</div>
    <div id="detailGender">GenderName</div>
    <div>Age</div>
    <div id="detailAge">AgeName</div>
    <div>Price</div>
    <div id="detailPrice">PriceName</div>
    <div>Shipping Method</div>
    <div id="detailShippingMethod">ship</div>
    <div id="detailStatus">statusName</div>
    <div>Quantity</div>
    <div>
      <select id="detailQuantity">
        <option>1<option>
      </select>
    </div>
    <div>
      <button id="detailAddButton">Add to cart</button>
    </div>
  </div>
</div>