<h3>Shopping Cart</h3>
<table style="width:100%">
  <tr>
    <th>Items</th>
    <th>Quantity</th> 
    <th>Price (THB)</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{product.name} {product.brand} {product.gender} {product.age} {product.status} DELETE</td>
    <td>product.quantity</td>
    <td>product.price</td>
  </tr>
</table>
<p>Shipping Method: Kerry Express</p>
<p>Shipping Fee: 150 THB</p>
<p>Subtotal : <span>{products.length} THB</span></p>
<p>Shipping Fee : 150 THB</p>
<button>Go Back to Shopping</button>
<button>Process to Checkout</button>
