<h3>Shopping Cart</h3>
<table style="width:100%">
  <tr>
    <th>Items</th>
    <th>Quantity</th> 
    <th>Price (THB)</th>
  </tr>
  <tr *ngFor="let product of products">
    <td><p>{{product.name}} by {{product.brand}}</p>
       <p>{{product.gender}} {{product.age}}</p>
       <p> {{product.status}} </p>
       <a>DELETE</a></td>
    <td style="text-align: center">{{product.quantity}}</td>
    <td style="text-align: center">{{product.price}}</td>
  </tr>
</table>
<p>Shipping Method: Kerry Express</p>
<p>Shipping Fee: 150 THB</p>
<p>Subtotal ({{products.length}} items): <span> {{subTotal}} THB</span></p>
<p>Shipping Fee : 150 THB</p>
<a href='/details/1'>Go Back to Shopping</a>
<p></p>
<a href='/address/'>Process to Checkout</a>
